body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green; /* azul */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(61, 58, 58);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ffffff;
}

p {
  font-size: 18px;
  color: #ffffff;
}
.server {
  background-color: #007BFF;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}